
.fade-scale-enter-active, .fade-scale-leave-active
  transition opacity 0.2s, transform 0.2s
.fade-scale-enter, .fade-scale-leave-to
  opacity 0
  transform scale(0)
.show-scale-enter-active, .show-scale-leave-active
  transition opacity 20s, transform 20s
.show-scale-enter, .show-scale-leave-to
  opacity 0
  transform scale(0)