
html, body
  -webkit-tap-highlight-color rgba(0,0,0,0)
// 布局
.flex-row
  display flex
  flex-flow row nowrap
.flex-column
  display flex
  flex-flow column nowrap
.flex-start-center
  justify-content flex-start
  align-items center
.flex-end-center
  justify-content flex-end
  align-items center
.flex-center
  justify-content center
  align-items center
.flex-between-center
  justify-content space-between
  align-items center
.flex-around-center
  justify-content space-around
  align-items center
.flex-center-start
  justify-content center
  align-items flex-start
.flex-center-end
  justify-content center
  align-items flex-end
.flex-center-stretch
  justify-content center
  align-items stretch
.flex-start-stretch
  justify-content start
  align-items stretch
.flex-center-baseline
  justify-content center
  align-items baseline
// 字体大小
.size-24
  font-size rems(24)
.size-28
  font-size rems(28)
.size-30
  font-size rems(30)
.size-32
  font-size rems(32)
.size-50
  font-size rems(50)
// 字体颜色
.color-ff2f4a
  color #ff2f4a
.color-333333
  color #333333
.color-4e0b21
  color #4e0b21
.color-baacaf
  color #baacaf
.color-ddccc6
  color #ddccc6
.color-ff5554
  color #ff5554
.color-573333
  color #573333
.color-1e9fff
  color #1e9fff
// 字体其它设置
.text-center
  text-align center
.text-left
  text-align left
.text-right
  text-align right
//边框
.border-959eaf
  width 100%
  height 1px
  background-color #959eaf